@import '../src/dist/css/mb-react-walkthrough';

.walkthrough {
  font-family: sans-serif;
  text-align: center;
  color: #4a4a4a;

  .title {
    width: 100%;
    height: 50%;
    padding-top: 10px;
    line-height: 50%;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .desc {
    font-size: 16px;
    padding: 0 35px;
    line-height: 1.6;
  }
}

